1]  A  user  table  ( "takehome_users" )  with  data  on  12,000  users  who  signed  up  for  the
product  in  the  last  two  years.   This  table  includes:
* name:  the  user's  name
* object_id:   the  user's  id
* email:  email  address
* creation_source:   how  their  account  was  created.  This  takes  on  one
  of  5  values:
       *PERSONAL_PROJECTS:  invited  to  join  another  user's
        personal  workspace
       *GUEST_INVITE:  invited  to  an  organization  as  a  guest
       (limited  permissions)
       *ORG_INVITE:  invited  to  an  organization  (as  a  full  member)
       *SIGNUP:  signed  up  via  the  website
       *SIGNUP_GOOGLE_AUTH:  signed  up  using  Google
        Authentication  (using  a  Google  email  account  for  their  login
        id)
* creation_time:  when  they  created  their  account
* last_session_creation_time:   unix  timestamp  of  last  login
* opted_in_to_mailing_list:  whether  they  have  opted  into  receiving
  marketing  emails
* enabled_for_marketing_drip:  whether  they  are  on  the  regular
  marketing  email  drip
* org_id:   the  organization  (group  of  users)  they  belong  to
* invited_by_user_id:   which  user  invited  them  to  join  (if  applicable).



2]  A  usage  summary  table  ( "takehome_user_engagement" )  that  has  a  row  for  each  day
that  a  user  logged  into  the  product.

Defining  an  "adopted  user"   as  a  user  who   has  logged  into  the  product  on  three  separate
days  in  at  least  one  seven­day  period ,  identify  which  factors  predict  future  user
adoption .



We  suggest  spending  1-2  hours  on  this,  but  you're  welcome  to  spend  more  or  less.
Please  send  us  a  brief  writeup  of  your  findings  (the  more  concise,  the  better  ­­  no  more
than  one  page),  along  with  any  summary  tables,  graphs,  code,  or  queries  that  can  help
us  understand  your  approach.  Please  note  any  factors  you  considered  or  investigation
you  did,  even  if  they  did  not  pan  out.  Feel  free  to  identify  any  further  research  or  data
you  think  would  be  valuable.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('display.max_columns', 75)
pd.set_option('display.max_rows', 50)
pd.set_option('display.min_rows', 50)

In [2]:
users = pd.read_csv('takehome_users.csv', encoding = 'latin-1')

In [12]:
users.head()

,object_id,creation_time,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0
1,2,2013-11-15 03:45:04,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0
2,3,2013-03-19 23:14:52,ORG_INVITE,2013-03-19 23:14:52,0,0,94,1525.0
3,4,2013-05-21 08:09:28,GUEST_INVITE,2013-05-22 08:09:28,0,0,1,5151.0
4,5,2013-01-17 10:14:20,GUEST_INVITE,2013-01-22 10:14:20,0,0,193,5240.0

In [4]:
user_engagement = pd.read_csv('takehome_user_engagement.csv')

In [13]:
user_engagement.head()

            time_stamp  user_id  visited
0  2014-04-22 03:53:30        1        1
1  2013-11-15 03:45:04        2        1
2  2013-11-29 03:45:04        2        1
3  2013-12-09 03:45:04        2        1
4  2013-12-25 03:45:04        2        1

In [14]:
#Clean users
#There are a number of features in the users df that are can be dropped as they are not important. 
#drop Name and Email

users.drop(['name', 'email'],axis = 1, inplace = True)
users.head()

KeyError: "['name' 'email'] not found in axis"

In [10]:
#convert last session creation time to datetime
users['last_session_creation_time']=pd.to_datetime(users['last_session_creation_time'],unit='s')

In [15]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  object
 2   creation_source             12000 non-null  object
 3   last_session_creation_time  8823 non-null   datetime64[ns]
 4   opted_in_to_mailing_list    12000 non-null  int64
 5   enabled_for_marketing_drip  12000 non-null  int64
 6   org_id                      12000 non-null  int64
 7   invited_by_user_id          6417 non-null   float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 750.1+ KB

In [16]:
#convert creation_time to datetime
users['creation_time'] = pd.to_datetime(users['creation_time'])

In [17]:
users.head()

,object_id,creation_time,creation_source,last_session_creation_time,opted_in_to_mailing_list,enabled_for_marketing_drip,org_id,invited_by_user_id
0,1,2014-04-22 03:53:30,GUEST_INVITE,2014-04-22 03:53:30,1,0,11,10803.0
1,2,2013-11-15 03:45:04,ORG_INVITE,2014-03-31 03:45:04,0,0,1,316.0
2,3,2013-03-19 23:14:52,ORG_INVITE,2013-03-19 23:14:52,0,0,94,1525.0
3,4,2013-05-21 08:09:28,GUEST_INVITE,2013-05-22 08:09:28,0,0,1,5151.0
4,5,2013-01-17 10:14:20,GUEST_INVITE,2013-01-22 10:14:20,0,0,193,5240.0

In [18]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  datetime64[ns]
 2   creation_source             12000 non-null  object
 3   last_session_creation_time  8823 non-null   datetime64[ns]
 4   opted_in_to_mailing_list    12000 non-null  int64
 5   enabled_for_marketing_drip  12000 non-null  int64
 6   org_id                      12000 non-null  int64
 7   invited_by_user_id          6417 non-null   float64
dtypes: datetime64[ns](2), float64(1), int64(4), object(1)
memory usage: 750.1+ KB

In [19]:
#fillna values with 0
users.fillna(0,inplace = True)

In [20]:
users.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   object_id                   12000 non-null  int64
 1   creation_time               12000 non-null  datetime64[ns]
 2   creation_source             12000 non-null  object
 3   last_session_creation_time  12000 non-null  object
 4   opted_in_to_mailing_list    12000 non-null  int64
 5   enabled_for_marketing_drip  12000 non-null  int64
 6   org_id                      12000 non-null  int64
 7   invited_by_user_id          12000 non-null  float64
dtypes: datetime64[ns](1), float64(1), int64(4), object(2)
memory usage: 750.1+ KB

In [21]:
#clean user_engagement
user_engagement.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 207917 entries, 0 to 207916
Data columns (total 3 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   time_stamp  207917 non-null  object
 1   user_id     207917 non-null  int64
 2   visited     207917 non-null  int64
dtypes: int64(2), object(1)
memory usage: 4.8+ MB

In [22]:
user_engagement['time_stamp'] = pd.to_datetime(user_engagement['time_stamp'])

In [26]:
#EDA on users

users['creation']

KeyError: 'creation'