In [77]:
import pandas as pd
import numpy as np
import matplotlib as plt
import json

In [126]:
with open('logins.json') as f:
   df = json.load(f)

df = pd.DataFrame(df)

In [127]:
df.index = df['login_time']

In [128]:
df.index = pd.to_datetime(df.index)

In [129]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 93142 entries, 1970-01-01 20:13:18 to 1970-04-13 18:54:23
Data columns (total 1 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   login_time  93142 non-null  object
dtypes: object(1)
memory usage: 1.4+ MB

In [130]:
df_resampled = df.resample('15min').apply('count')

In [131]:
df_resampled = df_resampled.rename(columns = {'login_time':'count'})

In [132]:
pd.set_option('display.max_columns', 200)
pd.set_option('display.max_rows', 50)
pd.set_option('display.min_rows', 50)

In [134]:
df_resampled

                     count
login_time
1970-01-01 20:00:00      2
1970-01-01 20:15:00      6
1970-01-01 20:30:00      9
1970-01-01 20:45:00      7
1970-01-01 21:00:00      1
1970-01-01 21:15:00      4
1970-01-01 21:30:00      0
1970-01-01 21:45:00      4
1970-01-01 22:00:00      9
1970-01-01 22:15:00      8
1970-01-01 22:30:00      1
1970-01-01 22:45:00      3
1970-01-01 23:00:00     16
1970-01-01 23:15:00     13
1970-01-01 23:30:00     14
1970-01-01 23:45:00     15
1970-01-02 00:00:00     10
1970-01-02 00:15:00     18
1970-01-02 00:30:00     12
1970-01-02 00:45:00     13
1970-01-02 01:00:00      9
1970-01-02 01:15:00      8
1970-01-02 01:30:00     10
1970-01-02 01:45:00      6
1970-01-02 02:00:00      7
...                    ...
1970-04-13 12:45:00     11
1970-04-13 13:00:00      5
1970-04-13 13:15:00      4
1970-04-13 13:30:00      6
1970-04-13 13:45:00      5
1970-04-13 14:00:00      4
1970-04-13 14:15:00      8
1970-04-13 14:30:00      8
1970-04-13 14:45:00     12
1970-04-13 15:00:00     10
1970-04-13 15:15:00      4
1970-04-13 15:30:00      3
1970-04-13 15:45:00      2
1970-04-13 16:00:00      7
1970-04-13 16:15:00      8
1970-04-13 16:30:00      4
1970-04-13 16:45:00      3
1970-04-13 17:00:00      5
1970-04-13 17:15:00      3
1970-04-13 17:30:00      9
1970-04-13 17:45:00      5
1970-04-13 18:00:00      5
1970-04-13 18:15:00      2
1970-04-13 18:30:00      7
1970-04-13 18:45:00      6

[9788 rows x 1 columns]